.container {
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  z-index: 10;

  width: fit-content;

  cursor: auto !important;
  pointer-events: auto !important;
  user-select: none;

  background-color: rgba(0, 0, 0, 0.65);
  color: white;

  border-radius: 0.25rem;

  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.container[data-open="true"] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h3 {
  font-size: 1.5rem;
  font-weight: 800;

  margin: 0;

  cursor: pointer;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 0.75rem;

  margin-top: 1rem;

  width: 100%;
}

.settings div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
}

.settings div label {
  font-size: 1.25rem;
  font-weight: 500;

  margin: 0;
}

.settings div input[type="number"] {
  height: 1.5rem;

  margin-left: 0.5rem;

  padding: 0.75rem;

  border-radius: 0.25rem;
  border-style: none;
}

.settings div input[type="color"] {
  height: 2rem;
  width: 56%;
}
